<div id="pageSetPassword">
    <div class="row vertical-center">
        <div class="col-md-3 form-box center-block container">
            <div class="kali-logo center-block"></div>
            <div class="logName">
                <p ng-show="loading"><img
                        src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>

                <p ng-show="error">{{ error.message }}</p>

                <p ng-show="passwordSaved">Your new password has been saved, now <a href="#/login">log in</a>!</p>
            </div>
            <form ua-reset-password ng-show="!passwordSaved" class="form-horizontal">
                <input name="new_password" class="form-control" placeholder="New password" type="password" required>

                <div class="form-btn">
                    <div class="pull-left">
                        <a href="#/login" class="btn btn-default">Log in</a>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>