<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">RAM</div>
          <div class="panel-body">
          </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">Display</div>
          <div class="panel-body">
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">netMap 1.7</div>
          <div class="panel-body">
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
              Terminal
              <a href="#" ua-logout>Log Out</a>
          </div>
          <div class="panel-body">
            <div ng-controller="console">
                <terminal></terminal>
            </div>
          </div>
        </div>
    </div>
  </div>