<p>Please log in</p>

<form ua-login>
	<input name="login" placeholder="Username"><br>
	<input name="password" placeholder="Password" type="password"><br>
	<p><button type="submit">Log in</button> or
	<button ua-oauth-link="linkedin" class="btn btn-lg btn-linkedin"><i class="fa fa-linkedin"></i></button>
<button ua-oauth-link="google" class="btn btn-lg btn-google"><i class="fa fa-google"></i></button>
<button ua-oauth-link="github" class="btn btn-lg btn-github"><i class="fa fa-github"></i></button>
<button ua-oauth-link="facebook" class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i></button>

	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
</form>

<p><a href="#/signup">Sign up</a></p>
<p><a href="#/reset-password">Reset password</a></p>