<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">RAM</div>
          <div class="panel-body">
          </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">Display</div>
          <div class="panel-body">
              <oauth
                      template="views/oauth2.html"
                      site="https://accounts.google.com/o/oauth2"
                      client-id="71428555143-gajev4bbm9nl5oloe6blhijq2vp4qvac.apps.googleusercontent.com"
                      redirect-uri="http://www.hacknet.com/index.html"
                      scope="https://www.googleapis.com/auth/userinfo.profile"
                      response-type="token"
                      authorize-path="/auth">
            </oauth>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">netMap 1.7</div>
          <div class="panel-body">
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Terminal</div>
          <div class="panel-body">
            <div ng-controller="console" ng-if="accessToken">
                <terminal></terminal>
            </div>
          </div>
        </div>
    </div>
  </div>