<p>Sign up</p>

<form ua-signup ng-show="!verificationEmailSent">
	<input name="first_name" placeholder="Your name"><br>
	<input name="login" ua-is-email placeholder="Email"><br>
	<input name="password" placeholder="Password" type="password"><br>
	<p><button type="submit">Create account</button> or
    <button ua-oauth-link="linkedin" class="btn btn-lg btn-linkedin"><i class="fa fa-linkedin"></i></button>
	<button ua-oauth-link="google" class="btn btn-lg btn-google"><i class="fa fa-google"></i></button>
	<button ua-oauth-link="github" class="btn btn-lg btn-github"><i class="fa fa-github"></i></button>
	<button ua-oauth-link="facebook" class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i></button>
	
	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
</form>

<p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to verify your account.</p>
<p><a href="#/login">Log in</a></p>