<div id="pageOS">
    <div class="row">
        <div id="ramWindow" class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">RAM</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div id="displayWindow" class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Display</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-10">
                            <h2>
                                Connected to
                            </h2>

                            <h2>
                                {{ user.email }} PC <br>
                            </h2>

                            <h3>
                                @ 195.248.20.86
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-center system-rights">
                            You are the Administrator of this System
                        </p>
                    </div>
                    <div class="row system-button">
                        <div class="col-sm-4">
                            <ul>
                                <li class="disable">
                                    Login
                                </li>
                                <li>
                                    Probe System
                                </li>
                                <li>
                                    View Filesystem
                                </li>
                                <li>
                                    View Logs
                                </li>
                                <li>
                                    Scan Network
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">netMap 1.7</div>
                <div class="panel-body"></div>
            </div>
        </div>
        <div id="consoleWindow" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Terminal
                    <a href="#" ua-logout>Log Out</a>
                </div>
                <div class="panel-body">
                    <div ng-controller="consoleCtrl">
                        <terminal></terminal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>