/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

::-moz-selection {
    background: rgba(124, 196, 255, 0.7);
}

::selection {
    background: rgba(124, 196, 255, 0.7);
}

html, body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*-----------------------------------------------------------------------------------*/
/*	01.	Boot
/*-----------------------------------------------------------------------------------*/
#pageLoading {
    background: #000;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-animation: init 2s linear forwards;
    -moz-animation: init 2s linear forwards;
}

#pageLoading div.loading {
    color: #fff;
    text-shadow: 0 0 3px #fff;
    font: 10pt monospace;
    white-space: pre;
    tab-size: 4;
}

@-webkit-keyframes init {
    0%, 10% {
        background: #000;
        visibility: visible;
        opacity: 1;
        z-index: 100;
    }
    11%, 12% {
        background: #000;
    }
    13%, 96% {
        visibility: visible;
        opacity: 1;
        z-index: 100;
    }
    97%, 98% {
        opacity: 0;
    }
    100% {
        z-index: -100;
        visibility: hidden;
        background: #000;
    }
}

@-moz-keyframes init {
    0%, 10% {
        background: #000;
        visibility: visible;
        opacity: 1;
        z-index: 100;
    }
    11%, 12% {
        background: #fff;
    }
    13%, 96% {
        visibility: visible;
        opacity: 1;
        z-index: 100;
    }
    97%, 98% {
        opacity: 0;
    }
    100% {
        z-index: -100;
        visibility: hidden;
        background: #fff;
    }
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

/*-----------------------------------------------------------------------------------*/
/*	02.	Compatibility
/*-----------------------------------------------------------------------------------*/
#fail {
    background: url(../images/gradient.png) no-repeat center, url(../images/wallpaper.png) repeat left top #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    visibility: hidden;
}

#fail .fail-browser-logo {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
    margin-bottom: 60px;
}

#fail.visible {
    visibility: visible;
}

#fail .fail-browser {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 1100px;
    margin-left: -550px;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.69);
    text-shadow: 0 1px 1px rgba(153, 153, 153, 0.45);
}

#fail .fail-browser a {
    text-decoration: none;
    color: rgba(190, 190, 190, 0.95);
    text-shadow: 0 1px 1px rgba(153, 153, 153, 0.45);
}

#fail .fail-browser a:hover {
    text-shadow: 0 0px 5px rgba(153, 153, 153, 0.95);
}