/*-----------------------------------------------------------------------------------*/
/*	02.	Login
/*-----------------------------------------------------------------------------------*/

#pageLogin {
    background: url(../images/wallpaper.png) no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    visibility: hidden;
    opacity: 1;
    -webkit-animation: initLoginWindow 0.5s 1.5s linear forwards;
    -moz-animation: initLoginWindow 0.5s 1.5s linear forwards;
}

#header {
    background: transparent;
    width: 100%;
    height: 21px;
    position: fixed;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#header nav#menu {
    position: absolute;
    right: 10px;
    top: 0;
}

#header nav#menu ul {
    margin: 0;
    padding: 0;
}

#header nav#menu ul li {
    float: left;
    height: 21px;
    line-height: 25px;
    position: relative;
}

#pageLogin .kali-logo {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: url(../images/kali-logo.png) center no-repeat;
    background-size: cover;
    -webkit-animation: initKaliLoginWindow 0.5s 1.5s linear forwards;
    -moz-animation: initKaliLoginWindow 0.5s 1.5s linear forwards;
}

#pageLogin .logName {
    position: absolute;
    left: 50%;
    top: 100%;
    margin: 10px 0 0 -90px;
    width: 184px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.clock {
    color: white;
}

.login-btn {
    margin-top: 10px;
}

div#login-box {
    background-color: lightgrey!important;
    padding-bottom: 20px;
}

@-webkit-keyframes initLoading {
    0%, 19% {
        visibility: hidden;
        opacity: 0;
    }
    20%, 99% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@-webkit-keyframes initLoginWindow {
    0%, 96% {
        visibility: hidden;
        opacity: 0;
    }
    97%, 99% {
        opacity: 1;
    }
    100% {
        z-index: 0;
        visibility: visible;
    }
}

@-webkit-keyframes initKaliLoginWindow {
    0% {
        top: 50%;
    }
    100% {
        top: 25%;
    }
}

@-moz-keyframes initLoading {
    0%, 19% {
        visibility: hidden;
        opacity: 0;
    }
    20%, 99% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@-moz-keyframes initLoginWindow {
    0%, 96% {
        visibility: hidden;
        opacity: 0;
    }
    97%, 99% {
        opacity: 1;
        visibility: visible;
        z-index: 0;
    }
    100% {
        z-index: 0;
        opacity: 1;
        visibility: visible;
    }
}

@-moz-keyframes initKaliLoginWindow {
    0% {
        top: 50%;
    }
    100% {
        top: 25%;
    }
}